<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Semana de Arte</title>
    <link rel="stylesheet" th:href="@{/bootstrap-5.0.0/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/scss.css}">
</head>
<body id="add">



<!--Navbar-->
<center>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">S.A</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link " aria-current="page" th:href="@{/}">Principal</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" th:href="@{/predio/predio}">Prédio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " aria-current="page" th:href="@{/jardim/jardim}">Jardim</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" th:href="@{/monumento/monumento}">Monumento</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
</center>


<h1 class="coment">Comentário</h1>
<div class="container div-inp">

<form th:action="@{/index/save}" method="post" th:object="${comentario}">
    
<input type="text" required th:field="*{nome}" onchange="input()" id="input1" class="input" placeholder="Digite seu nome aqui">
<br>
<input type="text" required th:field="*{titulo}" onchange="input()" id="input2" class="input" placeholder="Digite o título">
<br>
    <input type="text" required th:field="*{opiniao}" onchange="input()"  id="input3" class="input" placeholder="Digite o comentário">
    <br>
    <input type="text" readonly th:field="*{dia}" onchange="input()"  id="input4" class="input" placeholder="Digite o comentário">
    



    <button class=" btn btn-outline-success btn-form" type="submit">
        <i class="fa fa-save"></i> Salvar
    </button>
    
</form>

</div>

<div class="comentarios">


    <div class="card">
        <div class="card-header row">
            <div class="nomeDiv col-8">
              <label id="nome">Cezar</label>
            </div>
            <div class="dataDiv col-4" >
              <label id="dia">01/01/2021</label>
            </div>
          </div>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p id="titulo">
            Bom
          </p>
          <footer class="blockquote-footer" id="comentario">Está incrivelmente perfeito.</footer>
        </blockquote>
      </div>
    </div>
    </div>
<!--JS-->
<script th:src="@{/js/jquery-3.6.0.min.js}"></script>
<!--<script src="@{/js/popper.min.js}"></script>-->
<script th:src="@{/bootstrap-5.0.0/js/bootstrap.min.js}"></script>


<script>
const d = new Date();
document.getElementById("input4").value =(d.getDate()+"/"+ parseInt(d.getMonth()+1) +"/"+d.getFullYear());
  
    function input(){
        x1 = document.getElementById("input1").value 
        x2 = document.getElementById("input2").value 
        x3 = document.getElementById("input3").value
        x4 = document.getElementById("input4").value
        
        if(x1 === ""){
            document.getElementById("nome").innerHTML = "nome"   
            console.log("a1"); 
        }else{
            document.getElementById("nome").innerHTML = x1
            console.log("a2");
        }
        if(x2 === ""){
            document.getElementById("titulo").innerHTML = "Bom"
        }else{
            document.getElementById("titulo").innerHTML = x2
        }
        
        if(x3 === ""){
            document.getElementById("comentario").innerHTML = "Está incrivelmente perfeito."
        }else{
            document.getElementById("comentario").innerHTML = x3
        }

        if(x4 === ""){
            document.getElementById("dia").innerHTML = "01/01/2021"
        }else{
            document.getElementById("dia").innerHTML = x4
        }


        
    
        

    }
</script>

</body>
</html>