<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Semana de Arte</title>
    <link rel="stylesheet" th:href="@{/bootstrap-5.0.0/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/scss.css}">
</head>
<body id="add">



<!--Navbar-->
<center>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">S.A</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link " aria-current="page" th:href="@{/}">Principal</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/predio/predio}">teste</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#Carrossel">Carrossel</a>
                    </li>
                    <li class="nav-item dropdown"> <!-- retirar cards-->
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Cards
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#oPredio">O Prédio</a></li>
                            <li><a class="dropdown-item" href="#oJardim">O jardim</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#oMonumento">O monumento</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
</center>

<!-- 
<h1 class="coment">Comentário</h1>
<div class="container div-inp">

<form th:action="@{/index/save}" method="post" th:object="${comentario}">

<input type="text" required th:field="*{nome}" onchange="input()" id="input1" class="input" placeholder="Digite seu nome aqui">
<br>
<input type="text" required th:field="*{titulo}" onchange="input()" id="input2" class="input" placeholder="Digite o título">
<br>
<input type="text" required th:field="*{opiniao}" onchange="input()" id="input3" class="input" placeholder="Digite seu comentário">


<br>
-->



<div class="container">
<button type="submit">Salvar</button>
</div>
</form>

</div>

<div class="comentarios">


    <div class="card">
      <div class="card-header">
        <label id="nome">Nome</label>
      </div>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p id="titulo">
            Bom
          </p>
          <footer class="blockquote-footer" id="comentario">Está incrivelmente perfeito.</footer>
        </blockquote>
      </div>
    </div>
    </div>
<!--JS-->
<script th:src="@{/js/jquery-3.6.0.min.js}"></script>
<script src="@{/js/popper.min.js}"></script>
<script th:src="@{/bootstrap-5.0.0/js/bootstrap.min.js}"></script>

<!--
<script>

    
    function input(){
        x1 = document.getElementById("input1").value 
        x2 = document.getElementById("input2").value 
        x3 = document.getElementById("input3").value 

        if(x1 === ""){
            document.getElementById("nome").innerHTML = "nome"    
        }else{
            document.getElementById("nome").innerHTML = x1
        }
        if(x2 === ""){
            document.getElementById("titulo").innerHTML = "Bom"
        }else{
            document.getElementById("titulo").innerHTML = x2
        }
        if(x3 === ""){
            document.getElementById("comentario").innerHTML = "Está incrivelmente perfeito."
        }else{
            document.getElementById("comentario").innerHTML = x3
        }

        
        
        

    }
</script>
-->
</body>
</html>