body {
  background: -webkit-gradient(linear, left top, left bottom, from(#00002e), to(#1f44e7));
  background: linear-gradient(#00002e, #1f44e7);
}

#add {
  background: -webkit-gradient(linear, left top, left bottom, from(#00002e), to(#1f44e7));
  background: linear-gradient(#00002e, #1f44e7);
  height: 100vh;
}

.coment {
  margin-top: 80px !important;
  font-size: 70px;
  text-align: center;
  color: white;
  font-style: italic;
  font-weight: 900;
}

.div-s-Arte {
  margin-top: 70px;
}

.div-s-Arte h2 {
  margin-left: 5vw;
  color: white;
  text-shadow: 0 0 10px black;
}

.slide {
  width: 90%;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5vh;
  -webkit-box-shadow: 0 0 20px black;
          box-shadow: 0 0 20px black;
}

.container {
  margin: 0 auto;
  margin-top: 20px;
  width: 90%;
}

.container .card {
  margin-top: 4vh;
  margin-left: 2vw;
  margin-right: 2vw;
  -webkit-transition: .4s;
  transition: .4s;
  max-height: 600px;
  min-width: 350px;
  margin: 20px;
}

.container .card .card-text {
  text-align: justify;
}

.container .card img {
  -webkit-transition: .4s;
  transition: .4s;
}

.container .card img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0 0 20px black;
          box-shadow: 0 0 20px black;
  border-radius: 8px;
}

.container .card:hover {
  -webkit-box-shadow: 0 0 20px gold;
          box-shadow: 0 0 20px gold;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.container::-webkit-scrollbar {
  width: 0;
}

.div-inp {
  text-align: center;
  margin-top: 20px;
}

.div-inp input {
  margin-bottom: 20px;
  width: 30vw;
  height: calc(30vw/5);
  border: 8px double lightblue;
  border-radius: 12px;
  text-align: center;
}

footer.final {
  background-color: #666;
  padding-top: 5em;
  padding-bottom: 40px;
  border-top: 5px solid #3381f3;
  color: white;
}

footer.final footer h2, footer.final footer p, footer.final footer a, footer.final footer span {
  color: #D1D1D1;
}

footer.final footer h2 {
  font-weight: 400;
}

footer.final a {
  text-decoration: none !important;
  outline: none !important;
  font-size: 20px !important;
  color: #ffffff !important;
  font-weight: bold;
}

footer.final ul {
  list-style-type: none;
}

footer.final footer ul {
  padding: 0;
}

footer.final footer li {
  list-style: none;
  list-style-type: none;
}

.footer-box {
  width: 31%;
  padding: 1%;
  float: left;
  margin-left: 10vw;
}

footer .wrapper:after {
  clear: both;
  content: "";
  display: block;
}

.company-footer {
  width: 80%;
}

.company-footer p {
  margin-bottom: 20px;
}

.footer-list li {
  margin-bottom: 15px;
}

.footer-list a {
  -webkit-transition: .5s;
  transition: .5s;
}

.footer-list a:hover {
  color: #FFF;
}

.footer-list li:after {
  clear: both;
  content: "";
  display: block;
}

.articles-footer {
  width: 80%;
}

.footer-list.footer-article-list span {
  display: block;
  float: none;
}

.fab {
  font-size: 30px;
  margin-right: 10px;
  float: left;
}

.footer-list li span {
  float: left;
  height: 30px;
  line-height: 30px;
}

.footer-bottom {
  border-top: 1px solid #B2B2;
}

.footer-bottom p {
  font-weight: 600px;
  margin-top: 40px;
}

.comentarios {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 40px;
}

.comentarios .card {
  margin-bottom: 20px;
}

.text-predio {
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 40px;
  width: 80%;
  height: auto;
  background-color: #008ee0;
  font-size: 35px;
  text-align: justify;
  padding: 32px;
  color: white;
  font-style: italic;
  border: 16px double;
}

.ff {
  color: #ffffff !important;
  font-weight: bold;
}

.container-cargo-btn-novo {
  width: 80%;
  margin-right: 10%;
  text-align: right;
  margin-bottom: 8px;
}

.container-cargo-btn-novo a {
  width: calc(10vw);
  height: calc(2.5vw);
  font-size: calc(1vw) !important;
  background-color: #0078bd;
  color: white;
  font-size: calc(2.5vw);
  border-radius: 0.8vw;
  border: 3px solid #0dcaf0;
  -webkit-transition: .4s;
  transition: .4s;
}

.container-cargo-btn-novo a:hover {
  background-color: transparent;
  border-color: #0dcaf0;
}

.container-cargo-btn-novo a i {
  font-size: calc(1vw);
}

.Pr-foo {
  background: -webkit-gradient(linear, left top, left bottom, from(#00002e), to(#1f44e7));
  background: linear-gradient(#00002e, #1f44e7);
  color: white;
}

#h2 {
  margin-left: 30px;
}

.btn-form {
  margin-bottom: 3%;
  color: white;
  background-color: #198754;
}

.btn-form:hover {
  background-color: transparent;
  color: #198754;
}

.divCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 400px;
  overflow: auto;
  text-align: center;
}

.divButtons button {
  width: calc(25vw);
  height: calc(5vw);
  background-color: #0078bd;
  color: white;
  font-size: calc(2.5vw);
  border-radius: 1vw;
  border: 3px solid #0dcaf0;
  -webkit-transition: .4s;
  transition: .4s;
}

.divButtons button:hover {
  background-color: transparent;
}

.view {
  -webkit-transition: .4s;
  transition: .4s;
  -webkit-box-shadow: 0 0 20px red;
          box-shadow: 0 0 20px red;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.dataDiv {
  text-align: end;
}

#input4 {
  width: 0;
  height: 0;
  background-color: transparent;
  border: 0;
}
/*# sourceMappingURL=scss.css.map */